{% include 'Staff/StaffHeader.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 
<h3>Staff Home</h3>
<table width="800" border="0">
    <tr>
      <td width="600">&nbsp;</td>
      <td width="593">&nbsp;</td>
    </tr>
    <tr>
      <td><a href="Viewdevicedetails">View Device</a></td>
    </tr>
    <tr>
      <td><a href="ViewWaterProblemDetails">View Water Problem Details</a></td>
    </tr>
      <tr>
      <td><a href="ViewDeviceStaff">View Complaints</a></td>
    </tr>





    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>

  </table> -->
</body>
</html>
{% include 'LoginFooter.html' %}
