{% include 'Admin/PageHeader.html' %}
<head>
  <style>
    #cs {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #cs td,
    #cs th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #cs tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    #cs tr:hover {
      background-color: #ddd;
    }

    #cs th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
    }
  </style>
</head>
<div class="py-5 container">
  <div class="d-flex flex-wrap gap-1 justify-content-between">
    <h2><a href="/adminHome">Home</a></h2>
    <h2>View Staff Report</h2>
  </div>
  <table id="cs">
    <tr>
      <td><h3>Staff id</h3></td>
      <td><h3>Name</h3></td>
      <td><h3>Address</h3></td>
      <td><h3>Phone</h3></td>
      <td><h3>Email</h3></td>

      <td><h3>Password</h3></td>
    </tr>
    {% for row in data %}

    <tr>
      <td height="87"><div align="center">{{ row.0 }}</div></td>
      <td><div align="center">{{ row.1 }}</div></td>
      <td><div align="center">{{ row.4 }}</div></td>
      <td><div align="center">{{ row.2 }}</div></td>
      <td><div align="center">{{ row.3}}</div></td>

      <td><div align="center">{{ row.5 }}</div></td>
      <td width="80">
        <div align="center">
          <a href="/linkeditStaff/{{ row.0 }}/{{ row.3 }}">Edit</a>
        </div>
      </td>
      <td width="80">
        <div align="center">
          <a href="/linkDeleteStaff/{{ row.0 }}">Delete</a>
        </div>
      </td>
    </tr>

    {% endfor %}
  </table>
</div>
{% include 'LoginFooter.html' %}
